flow2
[
    {
        "id": "68acd569.21090c",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b1c1bf9.010944",
        "type": "mqtt in",
        "z": "68acd569.21090c",
        "name": "",
        "topic": "mcs/Dhms9V2q/RRqmMVLLN0isT6ZU/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "7b4832b.9d2e7cc",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "54452508.3d830c"
            ]
        ]
    },
    {
        "id": "54452508.3d830c",
        "type": "csv",
        "z": "68acd569.21090c",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": ",,Data",
        "skip": "0",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "d57bf20e.cc81e"
            ]
        ]
    },
    {
        "id": "d57bf20e.cc81e",
        "type": "change",
        "z": "68acd569.21090c",
        "name": "Get Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "5c3b7ace.7bdbe4"
            ]
        ]
    },
    {
        "id": "5c3b7ace.7bdbe4",
        "type": "ui_gauge",
        "z": "68acd569.21090c",
        "name": "",
        "group": "d49561ba.e3a34",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 440,
        "y": 520,
        "wires": []
    },
    {
        "id": "7b4832b.9d2e7cc",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.mcs.mediatek.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d49561ba.e3a34",
        "type": "ui_group",
        "z": "",
        "name": "Status",
        "tab": "2eb21c80.a29354",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2eb21c80.a29354",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]
